<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_area(:title, placeholder: "Insiria um título para um novo cartão", required: true) %>
  </div>
  
  <div class="field d-none">
    <%= form.label :position %>
    <%= form.number_field :position %>
  </div>

  <div class="field d-none">
    <%= form.label :step_id %>
    <%= form.text_field :step_id %>
  </div>

  <div class="actions">
    <%= form.submit "Adicionar cartão", :class => class_string("btn", "green-theme", "green-theme--hover", "text-white") %>
  </div>
<% end %>
