<div class="task-item position-relative" id="<%= dom_id(task) %>">
    <span class="task-item--title"><%= task.title %></span>
    <div class="task-actions float-right">
        <%= link_to edit_task_path(task.id), remote: true, method: :get, class: 'btn pr-1' do %>
          <%= fa_icon "edit" %>
        <% end %>
        <%= link_to task, method: :delete, class: 'btn pl-0' do %>
            <%= fa_icon "minus-circle" %>
        <% end %>
    </div>
</div>