<%= form_with(model: board) do |form| %>
  <% if board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
      <% board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
      <%= form.label :color %><br />
      <%= form.label :color, "Laranja", :class => class_string("clickable", selected: board["color"] == "#b04632"), :style => "background: #b04632", :value => "#b04632"  %>
      <%= form.radio_button :color, "#b04632", :class => "d-none" %>
      <%= form.label :color, "Cinza", :style => "background: gray", :value => "Gray" %>
      <%= form.radio_button :color, "gray", :class => "d-none" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
