<!DOCTYPE html>
<html>
  <head>
    <title>Trellike</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="main-area">
    <nav class="navbar bg shadow-sm navbar-light navbar-fixed">
      <%= link_to 'Trellike', home_path, class: "navbar-brand" %>
    </nav>
    <section class="content main co ntainer-fluid">
    <%= yield %>
    </section>
  </body>
</html>
