<!DOCTYPE html>
<html>
  <head>
    <title>Trellike</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav style="background-color: rgba(0,0,0,0.3) !important" class="navbar shadow-sm navbar-light bg-light fixed-top">
      <%= link_to 'Trellike', home_path, class: "navbar-brand" %>
    </nav>
    <section class="content main">
    <%= yield %>
    </section>
  </body>
</html>
